<nav class="navbar navbar-default" *ngIf=" router.url !== '/login' && router.url !== '/signup' && router.url !== '/' ">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/bucketlist">Bucketlist</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <form class="navbar-form navbar-right" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search" name="searchTerm" [(ngModel)]="searchTerm" required="">
        </div>
        <a (click)="searchBucketlist()" class="dropdown-toggle btn btn-primary search-btn" data-toggle="modal" data-target="#search-modal"><i class="fa fa-search" ></i></a>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle search-btn" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-user"></i> {{user}} <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a routerLink="/create_bucketlist">Create Bucketlist</a></li>
            <li class="divider"></li>
            <li><a routerLink="/logout">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Modal -->
<div class="modal fade" role="dialog" id="search-modal">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content search-modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Search Results</h4>
      </div>
      <div class="modal-body search-modal-body">
        <div class="col-xs-12" *ngIf="allSearchBucketlists">
          <div class="col-xs-3" *ngFor="let bucket of allSearchBucketlists">
            <div class="project project-success project-radius">
              <div class="shape">
                <div class="shape-text">
                  bucketlist
                </div>
              </div>
              <div class="project-content">
                <h3 class="lead search-head">
                  {{bucket.bucketlist_name}}
                </h3>
                <a class="btn btn-info dropdown-search-btn search-btn-view-details" data-dismiss="modal" (click)="redirectToItems(bucket.bucketlist_id, 1)">View items</a>
                <div class="btn-group">
                  <a class="btn btn-info dropdown-search-btn">More Actions</a>
                  <a class="btn btn-info dropdown-toggle search-dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a (click)="redirectToBucket(bucket.bucketlist_id)" data-dismiss="modal" >Update Bucketlist</a></li>
                    <li><a routerLink="/create_item/{{bucket.bucketlist_id}}" data-dismiss="modal" >Create Item</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="allSearchBucketlists.length == 0 ">
          <h2>No Results</h2>
          <p>Bucketlist with the provided key word does not exist.</p>
        </div>
      </div>
    </div>

  </div>
</div><!-- end of modal -->
