<div id="fullscreen_bg" class="fullscreen_bg"></div>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="/">Bucketlist</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a routerLink="/signup"><i class='fa fa-sign-out'></i> Sign up</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">

  <form class="form-signin" (submit)="signIn()">
    <h1 class="form-signin-heading text-muted sign-in-text"><i class='fa fa-lock'></i> Sign in</h1>
    <input type="text" class="form-control" placeholder="Username" name="username" required="" autofocus=""
           [(ngModel)]="username">
    <input type="password" class="form-control" placeholder="Password" required="" name="password"
           [(ngModel)]="password" >
    <button class="btn btn-lg btn-primary btn-block" type="submit">
      Sign In
    </button>
  </form>

</div>
